*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: #1f2235;
  font-family: Outfit;
  font-weight: 400;
  color: white;
}

.section {
  max-width: 1350px;
  margin: 0 auto;
  padding: 120px 15px;
}

.paragraph {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.75;
  letter-spacing: 0.15em;
  text-align: center;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
          box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background-color: #24263b;
  padding: 12px 14px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3333333333;
  text-align: left;
}

.header__wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 22px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
}

.header .navigation-list__item {
  padding: 6px 0;
}

.header .navigation-list a {
  font-size: 16px;
  font-weight: 700;
  line-height: 0.9375;
  text-align: left;
  color: white;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.header .navigation-list__item:hover a {
  color: #fe461c;
}

.header .button {
  display: inline-block;
  border: 2px #fe461c solid;
  border-radius: 4px;
  padding: 17px 15px;
  background-color: #fe461c;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.9375;
  text-align: center;
  color: white;
  -webkit-transition: background-color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease;
}

.header .button:hover {
  background-color: transparent;
  border-color: #fff;
}

.hero {
  position: relative;
  background-image: url("../../images/hero/background-img.png");
  background-size: 783px 634px;
  background-position: calc( 100% - clamp( 15px, calc(202px - (1920px - 100vw) / 2), calc(202px + (100vw - 1920px) / 2) )) calc(100% - 24px);
  background-repeat: no-repeat;
}

.hero .social-list {
  position: absolute;
  left: clamp(15px, calc(47px - (1920px - 100vw) / 2), calc(47px + (100vw - 1920px) / 2));
  top: 353px;
}

.hero .social-list__item {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #24263b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .social-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.hero .social-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .social-list__icon:nth-child(1) {
  width: 22px;
  height: 23px;
}

.hero .social-list__icon:nth-child(2) {
  width: 20px;
  height: 15px;
}

.hero .social-list__icon:nth-child(3) {
  width: 20px;
  height: 15px;
}

.hero__wrapper {
  padding-top: 241px;
  padding-bottom: 225px;
}

.hero__main-content {
  position: relative;
}

.hero__main-content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../images/hero/ellipse.png);
  width: 204px;
  height: 204px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__text {
  margin-bottom: 16px;
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.15em;
  text-align: left;
}

.hero__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.125;
  text-align: left;
  margin-bottom: 31px;
}

.hero__title span {
  color: #fe461c;
}

.hero__desc {
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  text-align: left;
  margin-bottom: 36px;
}

.hero__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__buttons-wrapper .button.main {
  display: inline-block;
  border: 2px #fe461c solid;
  border-radius: 4px;
  padding: 18px 47px;
  background-color: #fe461c;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.9375;
  text-align: center;
  color: white;
  -webkit-transition: background-color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease;
}

.hero__buttons-wrapper .button.main:hover {
  background-color: transparent;
  border-color: #fff;
}

.hero__buttons-wrapper .button.second {
  display: inline-block;
  border: 2px #fe461c solid;
  border-radius: 4px;
  padding: 18px 18px;
  background-color: #fe461c;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.9375;
  text-align: center;
  color: white;
  -webkit-transition: background-color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease;
  background-color: transparent;
  border-color: #fff;
}

.hero__buttons-wrapper .button.second:hover {
  background-color: #fe461c;
  border-color: #fe461c;
}

.about__wrapper {
  padding-top: 160px;
  padding-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__img-thumb {
  padding-top: 107px;
  max-width: 600px;
}

.about__img-thumb img {
  width: 100%;
}

.about__main-content {
  margin-left: auto;
  margin-right: clamp(15px, calc(122px - (1320px - 100vw) / 2), 122px);
  max-width: 536px;
}

.about__main-content .button.main {
  display: inline-block;
  border: 2px #fe461c solid;
  border-radius: 4px;
  padding: 20px 19px;
  background-color: #fe461c;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.9375;
  text-align: center;
  color: white;
  -webkit-transition: background-color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease;
}

.about__main-content .button.main:hover {
  background-color: transparent;
  border-color: #fff;
}

.about__paragraph {
  margin-bottom: 19px;
}

.about__title {
  margin-bottom: 15px;
}

.about__desc {
  max-width: 524px;
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  text-align: left;
  margin-bottom: 20px;
}

.about .personal-advantage-list {
  margin-bottom: 38px;
  width: 534px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 54px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 26px 1fr 26px 1fr 26px 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 26px 54px;
}

.about .personal-advantage-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about .personal-advantage-list > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.about .personal-advantage-list > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.about .personal-advantage-list > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.about .personal-advantage-list > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about .personal-advantage-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.about .personal-advantage-list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.about .personal-advantage-list > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.about .personal-advantage-list__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: left;
}

.about .personal-advantage-list__text span {
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  text-align: left;
}

.about .personal-advantage-list__text span:before {
  content: ":";
  margin: 0 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: left;
}
