body {
  background-color: $color-bg-dark;
  font-family: Outfit;
  font-weight: 400;
  color: $color-main-text-content;
}

.section {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
