.contact {
  &__wrapper {
    @include content-centered;
    flex-direction: column;
  }
  &__paragraph {
    margin-bottom: 19px;
  }
  &__title {
    margin-bottom: 46px;
  }
  &__content-wrapper {
    width: 100%;
  }
  &__main-content-wrapper {
    @include content-centered;
    gap: 100px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 80px;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__map-img {
    width: 100%;
    height: auto;
  }
}

.contacts-list {
  @include content-centered;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 1024px) {
    width: 100%;
    flex-grow: 1;
    gap: 35px;
  }
  &__card {
    @include content-centered;
    gap: 19px;
    width: 369px;
    padding: 18px 25px 17px 30px;
    background-color: $color-bg-light;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    @media (max-width: 1024px) {
      width: 100%;
      flex-grow: 1;
    }
  }
  &__icon-thumb {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @include content-centered;
    box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: (30px / 24px);
    text-align: left;
    margin-bottom: 8px;
  }
  &__text {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: (24px / 16px);
    text-align: left;
    word-break: break-word;
  }
}

.contact-form {
  flex-grow: 1;
  @media (max-width: 1024px) {
    width: 100%;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: (30px / 24px);
    text-align: left;
    margin-bottom: 28px;
  }
  &__main-inputs {
    width: 100%;
    @include content-centered;
    gap: 30px;
    margin-bottom: 18px;
    @media (max-width: 524px) {
      flex-direction: column;
      gap: 18px;
    }
    input {
      color: $color-main-text-content;
      width: 100%;
      padding: 17px 29px;
      background-color: $color-bg-light;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      &::placeholder {
        font-family: Public Sans;
        font-size: 16px;
        font-weight: 300;
        line-height: (18.8px / 16px);
        text-align: left;
        color: rgba(112, 113, 123, 1);
      }
    }
  }
  textarea {
    resize: none;
    min-height: 210px;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 29px;
    color: $color-main-text-content;
    background-color: $color-bg-light;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    &::placeholder {
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 300;
      line-height: (18.8px / 16px);
      text-align: left;
      color: rgba(112, 113, 123, 1);
    }
  }
  &__button {
    @include button(21px, 50px, false);
  }
}
