.posts {
  &__wrapper {
    @include content-centered;
    flex-direction: column;
  }
  &__paragraph {
    margin-bottom: 22px;
  }
  &__title {
    margin-bottom: 60px;
  }
}
.posts-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 424px);
  justify-content: center;
  column-gap: 24px;
  row-gap: 34px;
  &__img-thumb {
    width: 100%;
    height: 315px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 8px;
    margin-bottom: 26px;
  }
  &__info {
    @include content-centered;
    gap: 18px;
    justify-content: flex-start;
    margin-bottom: 23px;
    &-item {
      @include content-centered;
      gap: 9px;
    }
    &-item .posts-list__icon {
      fill: $color-action-main;
    }
    &-item:nth-child(1) .posts-list__icon {
      width: 14px;
      height: 17px;
    }
    &-item:nth-child(2) .posts-list__icon {
      width: 16px;
      height: 16px;
    }
    &-item:nth-child(3) .posts-list__icon {
      width: 20px;
      height: 14.67px;
    }
    &-text {
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: (12px / 16px);
      text-align: left;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 600;
    line-height: (30px / 24px);
    text-align: left;
    margin-bottom: 10px;
  }
  &__text {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: (24px / 16px);
    text-align: left;
    width: 360px;
  }
}
